<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diatrack</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="Style.css">
</head>
<body>
<header>
    <div class="top-nav">
    <img src="https://i.ibb.co/X5RNhFw/Diatrack-logo.png" style="height:100% ; width: auto;"/>
       <div class="navlinks">
        <a class="active" href="#home">Home</a>
        <a href="#news">About us</a>
       </div>
        <a href="#">
            <div class="support"style="display: flex;align-items: center;border-radius: 6px;background-color: #03045E;padding: 6px;">
                <span class="material-icons-sharp" >support_agent</span>
                <div class="sub-support" style="display:flex ;flex-direction: column;align-items:flex-start; ">
                    <p style=" font-size: 0.7rem;">Get our support 24/7</p>
                    <h1 style=" font-size: 1.5rem;">Need help !</h1>
                </div>
            </div>
            </a>

    </div>
</header>
<main>
    <div class="slider-container" style="display:grid;grid-template-columns: 60% 40%;">
        <div class="left-container" style="background-color: #00B4D8 ;height:450px;display: flex;flex-direction:column; align-items: center;">
            <h1> Navigate Your Diabetes</h1>
                <div style="display: flex;">
            <h1> Journey with </h1>
            <h1 style="border-radius: 6px; background-color: #03045E;text-decoration: #f2f2f2">Diatrack</h1>
        </div>
        </div>
        <div class="right-container"style="background-color: #00B4D8; display: flex; justify-items: baseline;">
            <img src="https://i.ibb.co/s6w8kZ8/personne-diabetique-controle-son-taux-glucose.png"style="width: 100%;height: auto;">

        </div>

    </div>
</main>

</body>
</html>